@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    src: url("/static/fonts/Materialicons/MaterialIcons-Regular.ttf");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;
}

:root {
    --bg_color: #fff;
    --bg_color_2: #f2f2f2;
    --font_color: #202020;
    --font_color_trans: #20202045;
    --accent_bg_color: #dd0b2f;
    --accent_font_color: #fff;
    --accent_bg_color_hover: #a71b33;
    --dark_row: #cccccc;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-size: 14px;
    background-color: var(--bg_color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body,
textarea,
input {
    font-size: 14px;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg_color_2);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main>* {
    padding: 15px;
}

input {
    cursor: pointer;
}

button {
    box-sizing: border-box;
    background-color: var(--accent_bg_color);
    color: var(--accent_font_color);
    border-radius: 3px;
    border: 2px solid var(--accent_bg_color);
    font-weight: 600;
    padding: 7px;
    transition: all .1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    outline: none;
    text-overflow: ellipsis;
    box-sizing: content-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="date"],
input[type="checkbox"],
input[type="radio"],
input[type="color"],
input[type="file"],
label,
select,
button {
    cursor: pointer;
}

input[type="submit"],
input[type="reset"],
button[type="reset"],
input[type="button"],
button {
    box-sizing: border-box;
    background-color: var(--accent_bg_color);
    color: var(--accent_font_color);
    border-radius: 3px;
    border: 2px solid var(--accent_bg_color);
    font-weight: 600;
    padding: 7px;
    transition: all .1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    outline: none;
    text-overflow: ellipsis;
    box-sizing: content-box;
}

input[type="reset"],
button[type="reset"],
input[type="button"].secondary,
button.secondary {
    background-color: var(--accent_font_color);
    color: var(--accent_bg_color);
}

input[type="reset"]:not(:disabled):hover,
button[type="reset"]:not(:disabled):hover,
input[type="button"].secondary:not(:disabled):hover,
button.secondary:not(:disabled):hover,
input[type="reset"].selected:not(:disabled),
button[type="reset"].selected:not(:disabled),
input[type="button"].secondary.selected:not(:disabled),
button.secondary.selected:not(:disabled) {
    color: var(--accent_font_color);
}

input[type="submit"]:not(:disabled):hover,
input[type="reset"]:not(:disabled):hover,
input[type="button"]:not(:disabled):hover,
button:not(:disabled):hover,
button:not(:disabled).selected {
    background-color: var(--accent_bg_color_hover);
    border-color: var(--accent_bg_color_hover);
    outline: none;
}

input[type="reset"]:hover,
input[type="button"]:hover,
button.secondary:hover,
input[type="reset"].selected,
input[type="button"].selected,
button.secondary.selected {
    border-color: var(--accent_bg_color_hover);
}

input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
button:disabled {
    cursor: not-allowed;
    opacity: .5;
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="datetime-local"],
textarea {
    border-radius: 3px;
    border: 1px solid var(--font_color_trans);
    padding: 5px 10px;
    color: var(--font_color);
    background-color: var(--bg_color);
    width: auto;
    transition: .1s ease-in-out;
    outline: none;
    box-sizing: border-box;
    min-width: 0;
}

textarea {
    resize: none;
}

input:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
input[type="datetime-local"]:hover,
textarea:hover,
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
    border-color: var(--font_color);
    outline: none;
}

input:invalid,
input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid,
input[type="search"]:invalid,
input[type="tel"]:invalid,
input[type="date"]:invalid,
input[type="datetime-local"]:invalid,
textarea:invalid,
select:invalid+.select2-container .select2-selection {
    border-color: red !important;
}

label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: flex-start;
    gap: 2px 5px;
}

label.under {
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
}

label.under>textarea {
    height: 100%;
}

label.double {
    grid-template-columns: 1fr 1fr;
}

label.double>:first-child {
    grid-column: 1 / -1;
}

label.double>input {
    width: 100%;
}

.select2 {
    width: auto !important;
}